NET "RESETN" LOC = "P57";

NET "CLK" LOC = "P76";
NET "CLK_1HZ" LOC = "P183";

NET "LCD_EN" LOC = "P154";
NET "LCD_RS" LOC = "P156";
NET "LCD_RW" LOC = "P155";

NET "LCD_DATA[7]" LOC = "P143";
NET "LCD_DATA[6]" LOC = "P144";
NET "LCD_DATA[5]" LOC = "P146";
NET "LCD_DATA[4]" LOC = "P147";
NET "LCD_DATA[3]" LOC = "P148";
NET "LCD_DATA[2]" LOC = "P149";
NET "LCD_DATA[1]" LOC = "P150";
NET "LCD_DATA[0]" LOC = "P152";