NET "RESETN" LOC = "P57";

NET "CLK" LOC = "P76";
NET "CLK_1HZ" LOC = "P183";
NET "CLK_1M" LOC = "P79";

NET "BUTTONS[4]" LOC = "P67";
NET "BUTTONS[3]" LOC = "P62";
NET "BUTTONS[2]" LOC = "P74"; // Center switch
NET "BUTTONS[1]" LOC = "P68";
NET "BUTTONS[0]" LOC = "P50";

NET "LCD_EN" LOC = "P154";
NET "LCD_RS" LOC = "P156";
NET "LCD_RW" LOC = "P155";

NET "LCD_DATA[7]" LOC = "P143";
NET "LCD_DATA[6]" LOC = "P144";
NET "LCD_DATA[5]" LOC = "P146";
NET "LCD_DATA[4]" LOC = "P147";
NET "LCD_DATA[3]" LOC = "P148";
NET "LCD_DATA[2]" LOC = "P149";
NET "LCD_DATA[1]" LOC = "P150";
NET "LCD_DATA[0]" LOC = "P152";

NET "LCD_DATA[7]" FAST;
NET "LCD_DATA[6]" FAST;
NET "LCD_DATA[5]" FAST;
NET "LCD_DATA[4]" FAST;
NET "LCD_DATA[3]" FAST;
NET "LCD_DATA[2]" FAST;
NET "LCD_DATA[1]" FAST;
NET "LCD_DATA[0]" FAST;

NET "TxD" LOC = "P171";
NET "TxD" FAST;

NET "BUZZER" LOC = "P51";